
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>
        MSc
        <ul>
            <li>AIUB</li>
            <li>Intelligent System</li>
            <li>2018</li>
        </ul>
    </li>
    <li>
        MSc
        <ul>
            <li>AIUB</li>
            <li>Intelligent System</li>
            <li>2018</li>
        </ul>
    </li>

</ul>

