
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<table class="table table-responsive">
    <tr>
        <td>Name</td>
        <td>Tanvir Ahmed</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>Tanvir Ahmed</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>Tanvir Ahmed</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>Tanvir Ahmed</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>Tanvir Ahmed</td>
    </tr>
</table>


