@model Lecture4.Models.Person 

@{
    ViewBag.Title = "CreateP";
}

<h2>CreateP</h2>
<h3>The form is submitted with below values</h3>
<p>
    Name: @Model.Name
    Address: @Model.Address
    Dob: @Model.Dob
</p>

