
@{
    ViewBag.Title = "CreatePerson";
}

<h2>CreatePerson</h2>

<h3>Person Created With below Data</h3>
<p>
    Name: @ViewData["Name"] <br>
    Dob: @ViewData["Dob"] <br>
    Address: @ViewData["Address"] <br>

</p>

