@{
    ViewBag.Title = "Home Page";
}

<div class="cotainer">
    <h1>Persons</h1>
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Tanvir</td>
            <td>5646-45-4</td>
            <td>Dhaka</td>
            <td><a href="/Person/Edit" class="btn btn-default">Edit</a></td>
            <td><a href="/Person/Delete" class="btn btn-danger">Delete</a></td>

        </tr>
        <tr>
            <td>1</td>
            <td>Tanvir</td>
            <td>5646-45-4</td>
            <td>Dhaka</td>
            <td><a href="/Person/Edit" class="btn btn-default">Edit</a></td>
            <td><a href="/Person/Delete" class="btn btn-danger">Delete</a></td>

        </tr>
        <tr>
            <td>1</td>
            <td>Tanvir</td>
            <td>5646-45-4</td>
            <td>Dhaka</td>
            <td><a href="/Person/Edit" class="btn btn-default">Edit</a></td>
            <td><a href="/Person/Delete" class="btn btn-danger">Delete</a></td>

        </tr>
    </table>
</div>

