<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre"><a href="#"> Add new student</a>
            </li>
            <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
<div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Add New Student</h4>
                        <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                    </div>
                    <div class="tab-inn">
                        <form>
                            <div class="row">
                                <div class="input-field col s6">

                                    <input type="text"  ng-model="s.Name" class="validate" required>
                                    <label class="">Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <select style="display:block" ng-model="s.DepartmentId" class="" name="">
                                      <option ng-repeat="d in departments" value="{{d.Id}}">{{d.Name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" ng-click="addstudent(s)" class="waves-button-input">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
