
<h2>Index</h2>
<form action="/Login/Login?returnUrl=@Request.QueryString["ReturnUrl"]" method="post">
    <input type="text" placeholder="Username" name="Uname" class="form-control">
    <input type="password" placeholder="Password" name="Pass" class="form-control">
    <input type="submit" class="form-control" value="Submit">
</form>

