@model Lecture5.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div>
    <form action="/Product/Create" method="post">
        <input type="text" name="Name" class="form-control" placeholder="Onion..">
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        <input type="text" name="Price" class="form-control" placeholder="Price..">
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        <input type="text" name="Qty" class="form-control" placeholder="Quantity..">
        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
        <textarea class="form-control" name="Description"></textarea>
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        <input type="submit" class="btn btn-block" value="Add" />
    </form>
</div>
